<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Redbeansoup dashboard</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
        />
        <link rel="stylesheet" href="index.css" />
        <script type="module" src="./index.js" async></script>
    </head>
    <body id="app">
        <nav class="navbar is-light">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <img src="/assets/redbeansoup.png" alt="redbeansoup" />
                    <div>
                        <span class="title mx-2">Redbeansoup-bot</span>
                        <span>v2.0</span>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div v-if="userInfo" class="navbar-item">
                    <div>Logged in as {{userInfo.username}}</div>
                    <figure class="ml-2 image">
                        <img class="is-rounded" :src="userInfo.avatar" />
                    </figure>
                </div>
                <div v-else class="navbar-item">
                    <a
                        class="button is-link"
                        :class="{'is-loading': discordRedirectUrl === '#'}"
                        :href="discordRedirectUrl"
                    >
                        Log-in with Discord
                    </a>
                </div>
            </div>
        </nav>
        <main class="container is-fluid">
            <section v-if="userInfo"></section>
            <section v-else>
                <p>Please connect first.</p>
            </section>
        </main>
    </body>
</html>
